<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="layout/template :: head"></div>
    <title>Sesiones</title>
    <script>
        function limpiarFiltros(){
            document.getElementById("desde").value = null;
            document.getElementById("hasta").value = null;
            document.getElementById("nombrePaciente").value = null;
        }
    </script>
</head>
<body>
    <div th:insert="layout/template :: header"></div>
    <div class="container pt-2" align="center" >
        <div class="row">
            <div class="col-12">
                <h2>Listado de sesiones</h2>
                <form th:action="@{/sesiones/}" method="get" th:object="${filtro}">
                    <label for="desde" class="form-label">Desde</label>
                    <input th:type="date" name="desde" id="desde"  th:field="*{fechaDesde}"/>
                    <label for="hasta" class="form-label">Hasta</label>
                    <input th:type="date" name="hasta" id="hasta"  th:field="*{fechaHasta}">
                    <label for="nombrePaciente" class="form-label">Paciente</label>
                    <input type="text" name="nombrePaciente" id="nombrePaciente" th:field="*{nombrePaciente}">
                    <input type="submit" value="Filtrar">
                    <input type="button" value="Limpiar filtro" onclick="limpiarFiltros()">
                </form>
                <table class="table table">
                    <tr>
                        <th>ID</th>
                        <th>Fecha</th>
                        <th>Paciente</th>
                        <th>Precio facturado</th>
                        <th>Detalles</th>
                    </tr>
                    <tr th:each="sesion: ${sesiones}">
                        <td th:text="${sesion.id}"></td>
                        <td th:text="${sesion.fecha}"></td>
                        <td th:if="${sesion.paciente != null}" th:text="${sesion.paciente.nombre} + ' ' + ${sesion.paciente.apellido}"></td>
                        <td th:text="${sesion.precioFacturado}"></td>
                        <td><a th:href="@{'/sesiones/' + ${sesion.id}}">
                            <i class="fas fa-arrow-alt-circle-right"></i>
                        </a></td>
                    </tr>
                </table>
                <a class="btn btn-primary" href="/sesiones/nueva">
                    <i class="fas fa-plus-circle"></i> Cargar nueva sesión
                </a>
                <a class="btn btn-primary" th:href="@{'/'}">
                    <i class="fas fa-arrow-left"></i> Volver
                </a>
            </div>
        </div>
    </div>



</body>
</html>